@*    <table class="table border border-bottom-0 table-responsive mt-4">
    <thead class="table-light">*@

<div class="row gx-0">
    <table class="table table-hover table-bordered table-responsive" style="width: 99%;margin-inline: auto;">
        <thead>
            <tr class="table-light" style="height: 70px;">
                <th scope="col">Image</th>
                <th scope="col">BannerText</th>
                <th scope="col">Sortorder</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        @foreach (var item in @Model.banners)
        {
            <tbody class="table-border">
                <tr>
                    <td class="d-flex flex-row align-items-center">
                        <div>
                            <img src="~/Assets/@item.Image" class="img" style="height: 100px; width: 100px;">
                        </div>
                        <div class="ms-3">
                            <span>@item.Image</span>
                        </div>
                    </td>
                    <td style="width:20%">@item.Text</td>
                    <td style="width:20%">@item.SortOrder</td>
                    <td style="width:15%">
                        <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#addBanner" onclick="getViaAdmin(@item.BannerId,'banner')">
                            <i class="bi bi-pencil-square" style="color: coral;"></i>
                        </button>
                        <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#deleteBanner" onclick="getViaAdmin(@item.BannerId,'banner')">
                            <i class="bi bi-trash ms-3"></i>
                        </button>

                        <div class="modal fade" id="addBanner" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Banner Page</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body d-flex flex-column align-items-center justufy-content-center">
                                        <input type="text" id="bannerId" hidden class="form-control">

                                        <div class="row">

                                            <div class="col-lg-12 col-md-6 mt-2">
                                                <label class="form-label mt-2">Text</label>
                                                <textarea placeholder="Enter Your Bio..." rows=2 class="form-control" id='bannerText'></textarea>
                                                <span class="text-danger" id="bannerTextError"></span>
                                            </div>
                                            <div class="col-lg-12 col-md-6 mt-2">
                                                <label class="form-label mt-2">SortOrder</label>
                                                <input type="number" class="form-control" id="sortOrder" onblur="checkSameOrder()" placeholder="Enter SortOrder Number" required />
                                                <span class="text-danger" id="sortOrderError"></span>
                                            </div>
                                            <div class="col-lg-12 mt-3">
                                                <label class="form-label">Images</label>
                                                <input type="file" placeholder="Enter Spent Hours" id="bannerPhoto" class="form-control time-hours" />
                                                <span class="text-danger" id="bannerPhotoError"></span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary" onclick="addViaAdmin('banner')">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="deleteBanner" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Banner</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <input type="text" id="bannerId" hidden class="form-control">

                                        Are You Sure!!!
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary" onclick="deleteViaAdmin('banner')">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        }
    </table>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end" onchange="searchOnAdmin(1,'banner')">
        <li class="page-item">
            <button class="page-link" aria-label="Previous" onclick="searchOnAdmin(1,'banner')">
                <span aria-hidden="true">&laquo;</span>
            </button>
        </li>
        <li class="page-item">
            @if (@ViewBag.pg_no != 1)
            {
                <button class="page-link" aria-label="Previous" onclick="searchOnAdmin(((@ViewBag.pg_no) - 1),'banner')">
                    <span aria-hidden="true">&lt;</span>
                </button>
            }
            else
            {
                <button class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </button>
            }
        </li>
        @{
            double totalpages = ViewBag.Totalpages8;

            for (int ii = 1; ii <= totalpages; ii++)
            {
                @if (ii == ViewBag.pg_no)
                {
                    <li class="page-item">
                        <button class="page-link active" onclick="searchOnAdmin(@ii,'banner')">@ii</button>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <button class="page-link" onclick="searchOnAdmin(@ii,'banner')">@ii</button>
                    </li>
                }
            }
        }
        <li class="page-item">
            @if (@ViewBag.pg_no != @ViewBag.Totalpages8)
            {
                <button class="page-link" aria-label="Next" onclick="searchOnAdmin(((@ViewBag.pg_no) + 1),'banner')">
                    <span aria-hidden="true">&gt;</span>
                </button>
            }
            else
            {
                <button class="page-link" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                </button>
            }
        </li>
        <li class="page-item">
            <button class="page-link" aria-label="Next" onclick="searchOnAdmin(@ViewBag.Totalpages8,'banner')">
                <span aria-hidden="true">&raquo;</span>
            </button>
        </li>
    </ul>
</nav>
