<div class="container">
    <div class="row" style="margin-top:-45px">
        <div class="col-md-6 col-lg-4 col-sm-6">
            <span class="explore">Explore <b>@ViewBag.totalMission Missions</b></span>
        </div>
    </div>

    <div class="row">
        @foreach (var i in ViewBag.missionListing)
        {
            <div class="item col-md-6 col-lg-4 col-sm-6 mt-3">
                <div class="thumbnail card d-flex">
                    <div class="img-event" >
                        <img class="group list-group-image w-100" style="height:250px;"
                         src="~/Assets/@i.MediaPath" alt="" />
                        <div class="location-img">
                            <img class="text-light" src="~/Assets/pin.png" alt="">
                            <span class="text-light">@i.CityName</span>
                        </div>
                        @if (i.favMission == 1)
                        {
                            <button type="submit" class="like-img border-0" onclick="addToFavourite(@i.MissionId)">
                                <i class="bi bi-heart-fill text-danger" id="addFav_@i.MissionId"></i>
                            </button>
                        }
                        else
                        {
                            <button type="submit" class="unlike-img border-0" onclick="addToFavourite(@i.MissionId)">
                                <i class="bi bi-heart-fill" id="addFav_@i.MissionId"></i>
                            </button>
                        }

                        @*<button class="stop-img border-0">
                            <img class="text-light" src="~/Assets/user.png" alt="">
                            </button>*@

                        <button type="button" class="stop-img border-0" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="bi bi-person-plus-fill"></i>
                        </button>

                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Recommend to a Co-Worker</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <table class="table table-hover table-striped table-info">
                                            <thead>
                                                <tr>
                                                    <th>Mark/UnMark</th>
                                                    <th>Name</th>
                                                    <th>Email</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var ii in i.alreadyMisInvited)
                                                {
                                                    <tr>
                                                        <td><i class="bi bi-check-circle-fill text-black"></i></td>
                                                        <td>@ii.ToUser.FirstName</td>
                                                        <td> <label class="form-check-lable" for="@ii.ToUser.Email">@ii.ToUser.Email</label></td>
                                                    </tr>
                                                }

                                                @foreach (var ii in i.userList)
                                                {
                                                    <tr>
                                                        <td><input class="form-check-input" type="checkbox" value="@ii.UserId" name="email" id="@ii.Email">
                                                        <td>@ii.FirstName</td>
                                                        <td> <label class="form-check-lable" for="@ii.Email">@ii.Email</label></td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary" onclick="sendMail(@i.MissionId)">Send Mail</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <button class="mission-theme border-0">
                            <span class="p-2">@i.Theme</span>
                        </button>
                    </div>
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            @i.Title
                        </h4>
                        <p class="group inner list-group-item-text">
                            @i.ShortDescription
                        </p>
                        <div class="d-flex justify-content-between">
                            <span class="organization">@i.OrganizationName</span>
                            <div class="rating">
                                @if (true)
                                {
                                    for (var j = 0; j < (@i.Rating); j++)
                                    {
                                        <i class="bi bi-star-fill checked" style="color:#F8D441"></i>
                                    }
                                    for (var j = 0; j < 5 - (@i.Rating); j++)
                                    {
                                        <i class="bi bi-star"></i>
                                    }

                                }
                            </div>
                        </div>
                        <div class="duration-seats-info mt-4">
                            <div class="duration">
                                <p id="duration-txt" style="margin-bottom: 0;">
                                    @if (i.MissionType == "Goal")
                                    {
                                        <span>@i.GoalObjectiveText</span>
                                    }
                                    else
                                    {
                                        <span>From @i.StartDate.ToString("dd/MM/yyyy") until @i.EndDate.ToString("dd/MM/yyyy")</span>

                                        @*@if (i.StartDate < DateTime.Now && DateTime.Now < i.EndDate)
                                            {
                                            <span>Ongoing Opportunity</span>
                                            }
                                            else
                                            {
                                            <span>From @i.StartDate.ToString("dd/MM/yyyy") until @i.EndDate.ToString("dd/MM/yyyy")</span>
                                            }*@
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between border-bottom mt-3">
                            @if (i.MissionType == "Goal")
                            {
                                <div class="Seats d-flex align-items-center">
                                    <img src="~/Assets/Seats-left.png" alt="">
                                    <span>
                                        @i.SeatLeft <p>seats left</p>
                                    </span>
                                </div>
                                <div class="deadline d-flex align-items-center w-50 mt-2 mb-1">
                                    <img src="~/Assets/achieved.png" alt="">
                                    <div class="w-100 pr-2">
                                        <div class="progress" style="width:900; margin-left: 10px;">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: @i.progressRatio%" ;> </div>
                                        </div>
                                        <p class="text-muted"> @i.achievedValue achieved </p>
                                    </div>
                                </div>

                            }
                            else
                            {
                                <div class="Seats d-flex align-items-center">
                                    <img src="~/Assets/Seats-left.png" alt="">
                                    <span>
                                        @i.SeatLeft <p>seats left</p>
                                    </span>
                                </div>
                                <div class="deadline d-flex align-items-center">
                                    <img src="~/Assets/deadline.png" alt="">
                                    <span>
                                        @i.Deadline.ToString("dd/MM/yyyy")
                                        <p>Deadline</p>
                                    </span>
                                </div>
                            }
                        </div>
                        <div class="d-flex justify-content-center mt-4">
                            <form>
                                @if (i.appMission == 1 || i.Deadline < DateTime.Now || i.SeatLeft == 0)
                                {
                                    <button type="submit" class="btn btn-outline-warning applyButton" id="applyMission" asp-controller="Platform" asp-action="missionDetails" asp-route-id="@i.MissionId">
                                        View Details<i class="bi bi-arrow-right"></i>
                                    </button>

                                }
                                else
                                {
                                    <button type="submit" class="btn btn-outline-warning applyButton" id="applyMission" asp-controller="Platform" asp-action="missionDetails" asp-route-id="@i.MissionId">
                                        Apply Now<i class="bi bi-arrow-right"></i>
                                    </button>
                                }
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="container">
        <select id="pager" onchange="changePgIndex('grid')">
            <option disabled selected>select pageSize...</option>
            @*<option value="1">1</option>*@
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </div>

    <nav aria-label="Page navigation example" class=mt-5>
        <ul class="pagination justify-content-center" onchange="searchMission()">
            <li class="page-item">
                @if (@ViewBag.pg_no != 1)
                {
                    <a class="page-link" href="#" aria-label="Previous" onclick="searchMission(1)">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                }
                else
                {
                    <button class="page-link" href="#" disabled>
                        <span aria-hidden="true">&laquo;</span>
                    </button>
                }

            </li>
            <li class="page-item">

                @if (@ViewBag.pg_no != 1)
                {
                    <a class="page-link" href="#" aria-label="Previous" onclick="searchMission(((@ViewBag.pg_no) - 1))">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                }
                else
                {
                    <button class="page-link" href="#" disabled>
                        <span aria-hidden="true">&lt;</span>
                    </button>
                }
            </li>
            @{
                double totalpages = ViewBag.Totalpages;



                for (int i = 1; i <= totalpages; i++)
                {
                    @if (i == ViewBag.pg_no)
                    {
                        <li class="page-item ">
                            <button class="page-link active" onclick="searchMission(@i)">@i </button>

                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <button class="page-link" onclick="searchMission(@i)">@i</button>
                        </li>
                    }


                }
            }



            <li class="page-item">
                @if (@ViewBag.pg_no != @ViewBag.Totalpages)
                {
                    <a class="page-link" href="#" aria-label="Next" onclick="searchMission(((@ViewBag.pg_no) + 1))">
                        <span aria-hidden="true">&gt;</span>
                    </a>
                }
                else
                {
                    <button class="page-link" href="#" disabled>
                        <span aria-hidden="true">&gt;</span>
                    </button>

                }
            </li>
            <li class="page-item">
                @if (@ViewBag.pg_no != @ViewBag.Totalpages)
                {
                    <a class="page-link" href="#" aria-label="Next" onclick="searchMission(@ViewBag.Totalpages)">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                }
                else
                {
                    <button class="page-link" href="#" disabled>
                        <span aria-hidden="true">&raquo;</span>
                    </button>

                }

            </li>
        </ul>
    </nav>
</div>