@model CIPlatform.Entities.ViewModel.EditProfileViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteering Timesheet</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

    <style>

        table {
            display: block;
            overflow-x: auto;
            white-space: nowrap;
        }

            table tbody {
                display: table;
                width: 100%;
            }

        table, tr, td, th {
            padding: 10px;
            margin: auto;
            border: none;
        }

        .profile-nav {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        .nav-item {
            list-style-type: None;
        }

        .profile {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: lightgray;
            color: white;
        }
    </style>

</head>


<body>
    <partial name="_Notification" />

    <partial name="_firstHeaderPartial" />

    <div class="container">
        <h2 class="mb-4 mt-4">Volunteering Timesheet</h2>
        <div class="row">
            <div class="col-lg-6">
                <div class="container">
                    <div class="border">
                        <div class="container">
                            <div class="row mt-4">
                                <div class="col-6">
                                    <h6>Volunteering Hours</h6>
                                </div>
                                <div class="col-6 d-flex justify-content-end">



                                    <button type="button" onclick="clearModal()" class="btn btn-outline-warning rounded-pill"
                                            data-bs-toggle="modal" data-bs-target="#timeModal">
                                        <i class="bi bi-plus"></i>
                                        Add
                                    </button>


                                    <div class="modal fade" id="timeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                                                        Please input
                                                        below Volunteering Hours
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <input type="text" id="timeSheetId" hidden class="form-control">
                                                    <label class="mb-1 ">Mission</label>
                                                    <select type="text" class="form-control form-select" id="timeTitle">
                                                        <option value="0">Select your mission</option>
                                                        @foreach (var obj in Model.timeTitles)
                                                        {
                                                            <option value="@obj.MissionId">@obj.Title</option>
                                                        }
                                                    </select>
                                                    <span id="timeTitleError" class=text-danger></span><br />

                                                    <label class="mb-1 mt-3">
                                                        Date
                                                    </label>

                                                    <div class="form-group">
                                                        <input type="date" onchange="checkSameDate()" id="timeDate"
                                                               class="form-control">
                                                        <span id="timeDateError" class=text-danger></span><br />

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label class="mb-1 mt-3">Hours</label>
                                                            <input type="number" class="form-control" id="timeHour"
                                                                   placeholder="Enter Spent Hours">
                                                            <span id="timeHourError" class=text-danger></span><br />

                                                        </div>
                                                        <div class="col-6">
                                                            <label class="mb-1 mt-3">
                                                                Minute
                                                            </label>
                                                            <input type="number" class="form-control" id="timeMinute"
                                                                   placeholder="Enter Spent Minutes">
                                                            <span id="timeMinuteError" class=text-danger></span><br />

                                                        </div>
                                                    </div>

                                                    <label class="mb-1 mt-3"
                                                           for="exampleFormControlTextarea1">Message</label>
                                                    <textarea class="form-control" id="timeMessage"
                                                              rows="4" placeholder="Enter your message..."></textarea>
                                                    <span id="timeMessageError" class=text-danger></span><br />

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary "
                                                            data-bs-dismiss="modal">
                                                        Close
                                                    </button>
                                                    <button type="button" class="btn btn-primary" onclick="addTimeSheets()">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <table class="table ">
                                <tbody>
                                    <tr class=" mt-3 mb-3">

                                        <th scope="col"><b>Mission</b> </th>
                                        <th scope="col"><b>Date</b> </th>
                                        <th scope="col"><b>Hours</b> </th>
                                        <th scope="col"> <b>Minutes</b> </th>
                                        <th scope="col"></th>
                                    </tr>
                                    @{
                                        if (Model.timeSheets != null)
                                        {
                                            @foreach (var obj in Model.timeSheets)
                                            {
                                                <tr class=" mt-3 mb-3">
                                                    <td scope="col">@obj.Mission.Title</td>
                                                    <td scope="col">@obj.DateVolunteered.ToString().Substring(0,10)</td>
                                                    <td scope="col">@obj.Time.ToString().Substring(0,2)h</td>
                                                    <td scope="col">@obj.Time.ToString().Substring(3,2)min</td>
                                                    <td scope="col">
                                                        <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#timeModal" onclick="getSheets(@obj.TimesheetId)">
                                                            <i class="bi bi-pencil-square" style="color: coral;"></i>
                                                        </button>
                                                        <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#deleteTimeModal" onclick="getSheets(@obj.TimesheetId)">
                                                            <i class="bi bi-trash ms-3"></i>
                                                        </button>

                                                        <div class="modal fade" id="deleteTimeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Recommend to a Co-Worker</h1>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        Are You Sure!!!
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                        <button type="submit" class="btn btn-primary" onclick="deleteSheets()">Delete</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>

                                                </tr>
                                            }

                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-6 mt-lg-0 mt-3">
                <div class="container">
                    <div class="border">
                        <div class="container">
                            <div class="row mt-4">
                                <div class="col-6">
                                    <h6>Volunteering Goals</h6>
                                </div>
                                <div class="col-6 d-flex justify-content-end">
                                    <button type="button" onclick="clearModal()" class="btn btn-outline-warning rounded-pill"
                                            data-bs-toggle="modal" data-bs-target="#goalModal">
                                        <i class="bi bi-plus"></i>
                                        Add
                                    </button>


                                    <div class="modal fade" id="goalModal" tabindex="-1"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">

                                        @*@{
                                            Html.RenderPartial("_GoalCard");

                                            }*@
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                                                        Please input
                                                        below Volunteering Goal
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body" id="clearGoal">

                                                    <label class="mb-1 ">Mission</label>
                                                    @*<select asp-for="goalTitles.FirstOrDefault().MissionId" type="text" class="form-control form-select">*@
                                                    <select type="text" class="form-control form-select" id="goalTitle">
                                                        <option value="0">Select your mission</option>
                                                        @foreach (var obj in Model.goalTitles)
                                                        {
                                                            <option value="@obj.MissionId">@obj.Title</option>
                                                        }
                                                    </select>
                                                    <span id="goalTitleError" class=text-danger></span><br />

                                                    <label class="mb-1 mt-3">Actions</label>
                                                    <input type="number" id="goalAction" class="form-control" placeholder="Enter Actions">
                                                    <span id="goalActionError" class=text-danger></span><br />


                                                    <label class="mb-1 mt-3">
                                                        Date
                                                    </label>

                                                    <div class="form-group">
                                                        <input type="date" onchange="checkSameDate()" id="goalDate"
                                                               class="form-control">
                                                        <span id="goalDateError" class=text-danger></span><br />

                                                    </div>

                                                    <label class="mb-1 mt-3"
                                                           for="exampleFormControlTextarea1">Message</label>
                                                    <textarea class="form-control" id="goalMessage"
                                                              rows="4" placeholder="Enter your message..."></textarea>
                                                    <span id="goalMessageError" class=text-danger></span><br />

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">
                                                        Close
                                                    </button>
                                                    <button type="button" class="btn btn-primary" onclick="addGoalSheets()">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>
                            <table class="table ">
                                <tbody>
                                    <tr class="  mt-3 mb-3">
                                        <th scope="col"><b>Mission</b> </th>
                                        <th scope="col"> <b>Date</b> </th>
                                        <th scope="col"> <b>Action</b> </th>

                                        <th scope="col"></th>

                                    </tr>
                                    @{
                                        if (Model.goalSheets != null)
                                        {
                                            @foreach (var obj in Model.goalSheets)
                                            {
                                                <tr class=" mt-3 mb-3">
                                                    <td scope="col">@obj.Mission.Title</td>
                                                    <td scope="col">@obj.DateVolunteered.ToString().Substring(0,10)</td>
                                                    <td scope="col">@obj.Action</td>

                                                    <td scope="col">
                                                        <button type="button" class="btn p-0" data-bs-toggle="modal" onclick="getSheets(@obj.TimesheetId)"
                                                        data-bs-target="#goalModal">
                                                            <i class="bi bi-pencil-square" style="color: coral;"></i>
                                                        </button>
                                                        <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#deleteTimeModal" onclick="getSheets(@obj.TimesheetId)">
                                                            <i class="bi bi-trash ms-3"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            }

                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="row">
            <div class="col-12 mt-3 " style="margin-left:15%">
                <a asp-controller="User" asp-action="privacyPolicy" style="color: #333333;text-decoration:none;margin-right:25px">Privacy Policy</a>
                <a asp-controller="User" asp-action="privacyPolicy" style="color: #333333;text-decoration:none;margin-right:25px">Cookie Policy</a>
                <a asp-controller="User" asp-action="privacyPolicy" style="color: #333333;text-decoration:none;margin-right:25px">Terms of Use</a>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/index.js"></script>
    <script>
        $(document).ready(function () {
            $('#add').click(function () {
                return !$('#features option:selected')
                    .appendTo('#selected_features');
            });
            $('#remove').click(function () {
                return !$('#selected_features option:selected')
                    .remove().appendTo('#features');
            });
            $('#Save').click(function () {
                $('#selected_features').appendTo('#addSkillsHere');
            })

            function selectall() {
                $('#selected_features').find('option').each(function () {
                    $(this).attr('selected', 'selected');
                });
            }
        });
    </script>


</body>

</html>