@using Microsoft.AspNetCore.Http;
@model CIPlatform.Entities.Models.Mission
@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html la!importantmportantg="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="/css/platformLandingPage.css">
    <link rel="stylesheet" href="/css/site.css">
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: lightgray;
            color: white;
        }
    </style>
</head>

<body>

    <partial name="_Notification" />

    <partial name="_firstHeaderPartial" />
    <div class="offcanvas offcanvas-start text-muted" data-bs-scroll="true" tabindex="-1" id="filters-sidebar" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <img src="~/Assets/left.png" data-bs-dismiss="offcanvas" aria-label="Close" alt="notload" />
            <span>Clear All</span>
        </div>
        <div class="offcanvas-body">
            <div id="country" class=" d-flex justify-content-between w-100 text-muted" data-bs-toggle="collapse"
                 href="#country" role="button" aria-expanded="false" aria-controls="country">
                <span>Country</span>
                <img src="~/Assets/drop-down.png" class="filter-dropdown" alt="not load" />
            </div>
            <div class="collapse mt-3" id="country">
                <ul class="list-unstyled" aria-labelledby="country" onchange="getCity();searchMission()">
                    @foreach (var obj in @ViewBag.Country)
                    {
                        <li>
                            <div class="form-check dropdown-item p-0 w-100 ">
                                <input class="form-check-input mx-auto ms-1" type="checkbox" name="country"
                                   id="@obj.CountryId" value="@obj.Name" />
                                <label class="form-check-label ps-4" for="@obj.CountryId">
                                    @obj.Name
                                </label>
                            </div>
                        </li>
                    }

                </ul>
            </div>
            <!-- @*--2*@ -->
            <div id="city" class="mt-4 d-flex justify-content-between w-100 text-muted"
                 data-bs-toggle="collapse" href="#city" role="button" aria-expanded="false" aria-controls="city">
                <span>City</span>
                <img src="~/Assets/drop-down.png" class="filter-dropdown" alt="not load" />
            </div>
            <div class="collapse mt-3" id="city">

                <ul class="list-unstyled" id="selectCityList" onchange="searchMission()">
                </ul>
            </div>
            <!-- @*--3*@ -->
            <div id="theme" class="mt-4 d-flex justify-content-between w-100 text-muted"
                 data-bs-toggle="collapse" href="#theme" role="button" aria-expanded="false"
                 aria-controls="theme">
                <span>Theme</span>
                <img src="~/Assets/drop-down.png" class="filter-dropdown" alt="not load" />
            </div>
            <div class="collapse mt-3" id="theme">
                <ul class="list-unstyled" aria-labelledby="theme" onchange="searchMission()">
                    @foreach (var i in @ViewBag.Theme)
                    {
                        <li>
                            <div class="form-check dropdown-item p-0 w-100 ">
                                <input class="form-check-input mx-auto ms-1" type="checkbox" value="@i.Title" name="theme"
                                   id="@i.MissionThemeId" />
                                <label class="form-check-label ps-4" for="@i.MissionThemeId">
                                    @i.Title
                                </label>
                            </div>
                        </li>
                    }
                </ul>
            </div>

            <!-- @*---4*@ -->
            <div id="skill" class="mt-4 d-flex justify-content-between w-100 text-muted"
                 data-bs-toggle="collapse" href="#skill" role="button" aria-expanded="false"
                 aria-controls="skill">
                <span>Skills</span>
                <img src="~/Assets/drop-down.png" class="filter-dropdown" alt="not load" />
            </div>
            <div class="collapse mt-3" id="skill">
                <ul class="list-unstyled" aria-labelledby="skill" onchange="searchMission()">
                    @foreach (var i in @ViewBag.Skill)
                    {
                        <li>
                            <div class="form-check dropdown-item p-0 w-100 ">
                                <input class="form-check-input mx-auto ms-1" type="checkbox" value="@i.SkillName" name="skill"
                                   id="@i.SkillId" />
                                <label class="form-check-label ps-4" for="@i.SkillId">
                                    @i.SkillName
                                </label>
                            </div>
                        </li>
                    }
                </ul>
            </div>

        </div>
    </div>
    <!-- @*header*@ -->
    <div class="home w-100 border-top border-2 border-bottom text-muted">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="d-flex search-div align-items-center">
                <img class="search" src="~/Assets/search.png" alt="not load" />
                <div class="form-floating w-75 d-flex">
                    <input type="search" oninput="searchMission()" name="search" class="form-control search-input h-100"
                           placeholder="Search Misssions...." />
                    <label for="floatingSearch" class="d-flex align-items-center">Search Missions....</label>
                </div>
            </div>
            <img src="~/Assets/filter.png" class="filter-image" data-bs-toggle="offcanvas"
                 data-bs-target="#filters-sidebar" aria-controls="offcanvasWithBothOptions" alt="not load" />
            <div class="filters  row">
                <div class="col-lg-3 col-md-3 col-sm-3 border-start border-end dropdown">
                    <div id="country" class="d-flex  w-100" data-bs-toggle="dropdown"
                         role="button" aria-haspopup="true" aria-expanded="false">
                        <span>Country</span>
                        <img src="~/Assets/drop-down.png" class="filter-dropdown" alt="not load" />
                    </div>
                    <ul class="dropdown-menu" aria-labelledby="country" onchange="getCity();searchMission();filterBadges()">
                        @foreach (var obj in @ViewBag.Country)
                        {
                            <li>
                                <input class="form-check-input mx-auto ms-1 country_@obj.CountryId" type="checkbox" name="country"
                                   id="@obj.CountryId" value="@obj.Name" />
                                <label class="form-check-label ps-4" for="@obj.CountryId">
                                    @obj.Name
                                </label>
                            </li>
                        }

                    </ul>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 dropdown border-start border-end">
                    <div id="city" class=" d-flex w-100" data-bs-toggle="dropdown"
                         role="button" aria-haspopup="true" aria-expanded="false">
                        <span>City</span>
                        <img src="~/Assets/drop-down.png" class="filter-dropdown" alt="not load" />
                    </div>
                    <ul class="dropdown-menu" id="selectCityList1" onchange="searchMission();filterBadges()">
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 border-start border-end">
                    <div id="theme" class=" d-flex justify-content-between w-100" data-bs-toggle="dropdown"
                         role="button" aria-haspopup="true" aria-expanded="false">
                        <span>Theme</span>
                        <img src="~/Assets/drop-down.png" class="filter-dropdown" alt="not load" />
                    </div>
                    <ul class="dropdown-menu" aria-labelledby="theme" onchange="searchMission();filterBadges()">
                        @foreach (var i in @ViewBag.Theme)
                        {
                            <li>
                                <input class="form-check-input mx-auto ms-1 theme_@i.MissionThemeId" type="checkbox" value="@i.Title" name="theme"
                                   id="@i.MissionThemeId" />
                                <label class="form-check-label ps-4" for="@i.MissionThemeId">
                                    @i.Title
                                </label>
                            </li>
                        }
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 border-start border-end">
                    <div id="skill" class=" d-flex justify-content-between w-100" data-bs-toggle="dropdown"
                         role="button" aria-haspopup="true" aria-expanded="false">
                        <span>Skills</span>
                        <img src="~/Assets/drop-down.png" class="filter-dropdown" alt="not load" />
                    </div>
                    <ul class="dropdown-menu" aria-labelledby="skill" onchange="searchMission();filterBadges()">
                        @foreach (var i in @ViewBag.Skill)
                        {
                            <li>
                                <input class="form-check-input mx-auto ms-1 skill_@i.SkillId" type="checkbox" value="@i.SkillName" name="skill"
                                   id="@i.SkillId" />
                                <label class="form-check-label ps-4" for="@i.SkillId">
                                    @i.SkillName
                                </label>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- @*badges*@ -->
    <div class="container mt-3" id="filter-button" >
        
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex justify-content-end">

                    <div class="d-flex sort">

                        <select class="form-select w-50 mb-3" aria-label="Default select example" onchange="searchMission()" id="sort">

                            <option><a class="dropdown-item">Sort By</a></option>
                            <option value="1"><a class="dropdown-item">Newest</a></option>
                            <option value="2"><a class="dropdown-item">Oldest</a></option>
                            <option value="3"><a class="dropdown-item">Lowest seats </a></option>
                            <option value="4"><a class="dropdown-item">Highest seats</a></option>
                            <option value="5"><a class="dropdown-item">Favourite</a></option>
                            <option value="6"><a class="dropdown-item">Sort by Deadline</a></option>
                        </select>
                        <a class="btn">
                            <img src="~/Assets/grid.png" id="grid">
                        </a>

                        <a class="btn pt-2">
                            <img src="~/Assets/list.png" id="list">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- @*main body*@ -->
    <!-- @*missions*@ -->
    <div class="gridItem mb-5" id="missions">

        <partial name="_gridCardPartial" />

    </div>
    <div class="listItem mb-5" id="missionsList">

        <partial name="_listCardPartial" />

    </div>
    <footer class="footer">
                <a asp-controller="User" asp-action="privacyPolicy" style="color: #333333;text-decoration:none;margin-left:16%">Privacy Policy</a>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/index.js"></script>




</body>

</html>