@model CIPlatform.Entities.ViewModel.AdminViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    @*<link rel="stylesheet" href="/css/platformLandingPage.css">*@
    <link rel="stylesheet" href="/css/site.css">
    <style>
        .page-link {
            color: gray;
        }

        .pagination li {
            margin-right: 10px;
        }

        .page-link:hover {
            background-color: #F88634;
            color: white;
        }

        .has-search .form-control {
            padding-left: 2.375rem;
        }


        .has-search .form-control-feedback {
            position: absolute;
            z-index: 2;
            display: block;
            width: 2.375rem;
            height: 2.375rem;
            line-height: 2.375rem;
            text-align: center;
            pointer-events: none;
            color: #aaa;
        }

        .nav-tabs .nav-link:focus,
        .nav-tabs .nav-link:hover,
        .nav-tabs .nav-item.show .nav-link,
        .nav-tabs .nav-link.ac {
            border-color: transparent;
            color: #505050;
        }

        .nav-tabs .nav-item.show .nav-link,
        .nav-tabs .nav-link.ac {
            border-bottom: 3px solid #000000;
            color: #000000;
            font-weight: 500;
        }

        .nav-link {
            color: #ADADAD;
            font-size: 15px;
            line-height: 18px;
            padding: 14px 18px;
        }


        .nav-tabs .nav-link1:focus,
        .nav-tabs .nav-link1:hover,
        .nav-tabs .nav-item.show .nav-link1,
        .nav-tabs .nav-link1.ac {
            border-color: transparent;
            color: #505050;
        }

        .nav-tabs .nav-item.show .nav-link1,
        .nav-tabs .nav-link1.ac {
            border-bottom: 3px solid #6b6a6a;
            color: #0f0f0f;
            font-weight: 500;
            background-color: white;
        }

        .nav-link1 {
            color: #b61a1a;
            font-size: 15px;
            line-height: 18px;
            padding: 14px 18px;
        }



        .nav-tabs {
            border-bottom: 1px solid #ADADAD;
        }

        .tab-content {
            margin-top: 25px;
        }

        .tab-pane {
            font-size: 15px;
            line-height: 24px;
            color: #3E3E3E;
        }

        .profile-nav {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        .nav-item {
            list-style-type: None;
        }

        .profile {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        .side-nav {
            background-color: #F88634;
        }

        .nav-list li {
            padding-right: 5px;
            padding-left: 5px;
            border-radius: 10px;
            margin-bottom: 5px;
            width: 100%;
        }

        .side-nav .nav-link {
            color: white;
        }

        .nav-link:focus,
        .nav-link:hover {
            color: #F88634;
            background-color: white;
        }

        .userProfile {
            border-radius: 50%;
            width: 50px;
            height: 50px
        }

        .profile span {
            padding: 8px;
            font-size: 16px;
            line-height: 18px;
            color: #000000;
        }

        .nav-pills .nav-link.active,
        .nav-pills .show > .nav-link {
            color: #F88634;
            background-color: #ffffff;
        }

        .form-group input:focus {
            outline: 0px !important;
            box-shadow: none !important;
            border-color: #bdbbbb;
        }

        .applyButton {
            border: 2px solid #F88634;
            border-radius: 100px;
            color: #F88634;
            padding-left: 20px;
            padding-right: 20px;
        }

            .applyButton:hover {
                background-color: #F88634;
                color: white;
            }
    </style>
</head>

<body>

    <partial name="_Notification" />

    <div class="container-fluid p-0">
        <div class="row flex-nowrap g-0">

            <div class="col-2 col-md-4 col-lg-3 col-xl-2 side-nav ">
                <div class="d-flex flex-column align-items-center align-items-sm-start min-vh-100">
                    <ul class="nav nav-pills flex-column align-items-center align-items-sm-start nav-list w-100"
                        id="menu">

                        <li>
                            <a class="d-flex align-items-center pb-3 ps-2 mt-4 text-white text-decoration-none">
                                <span class="fs-5 d-none d-sm-inline">NAVIGATION</span>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="nav-link align-middle active" id="nav-user-tab" data-bs-toggle="tab"
                               data-bs-target="#nav-user" role="tab" aria-controls="nav-user" aria-selected="true">
                                <i class="bi bi-person mr-3" style="font-size: 18px;"></i> <span class="ms-1 d-none d-sm-inline">User</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link align-middle " id="nav-cms-tab" data-bs-toggle="tab"
                               data-bs-target="#nav-cms" role="tab" aria-controls="nav-cms" aria-selected="true">
                                <i class="bi bi-file-earmark-text mr-3" style="font-size: 18px;"></i><span class="ms-1 d-none d-sm-inline">CMS Page</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link align-middle" id="nav-mission-tab" data-bs-toggle="tab"
                               data-bs-target="#nav-mission" role="tab" aria-controls="nav-mission"
                               aria-selected="true">
                                <i class="bi bi-bullseye mr-3" style="font-size: 18px;"></i>
                                <span class="ms-1 d-none d-sm-inline">Mission</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link align-middle" id="nav-theme-tab" data-bs-toggle="tab"
                               data-bs-target="#nav-theme" role="tab" aria-controls="nav-theme" aria-selected="true">
                                <i class="bi bi-columns-gap mr-3" style="font-size: 18px;"></i> <span class="ms-1 d-none d-sm-inline">Mission Theme</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link align-middle " id="nav-skill-tab" data-bs-toggle="tab"
                               data-bs-target="#nav-skill" role="tab" aria-controls="nav-skill" aria-selected="true">
                                <i class="bi bi-tools mr-3"></i> <span class="ms-1 d-none d-sm-inline">
                                    Mission Skills
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link align-middle" id="nav-application-tab" data-bs-toggle="tab"
                               data-bs-target="#nav-application" role="tab" aria-controls="nav-application"
                               aria-selected="true">
                                <i class="bi bi-folder2 mr-3" style="font-size: 22px;"></i> <span class="ms-1 d-none d-sm-inline">
                                    Mission Application
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link align-middle" id="nav-story-tab" data-bs-toggle="tab"
                               data-bs-target="#nav-story" role="tab" aria-controls="nav-story" aria-selected="true">
                                <i class="bi bi-journal-text mr-3" style="font-size: 18px;"></i> <span class="ms-1 d-none d-sm-inline"> Story</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link align-middle" id="nav-banner-tab" data-bs-toggle="tab"
                               data-bs-target="#nav-banner" role="tab" aria-controls="nav-banner" aria-selected="true">
                                <i class="bi bi-box mr-3" style="font-size: 18px;"></i> <span class="ms-1 d-none d-sm-inline">
                                    Banner Management
                                </span>
                            </a>
                        </li>

                    </ul>


                    <hr>

                </div>
            </div>


            <div class="col-10 col-md-8 col-lg-9 col-xl-10">


                <nav class="navbar navbar-expand-lg navbar-light " style=" background: #FFFFFF 0% 0% no-repeat padding-box; box-shadow: 3px 5px 10px #00000014; opacity: 1;">
                    <div class="container-fluid">

                        @{
                            var a = DateTime.Now;
                            string formattedDateTime = a.ToString("dddd, MMMM d, yyyy, h:mm tt");
                        }
                        <span>@formattedDateTime</span>


                        <form class="d-flex" class="collapse navbar-collapse" id="navbarSupportedContent">
                            <img src="~/Assets/@ViewBag.Avatar" class="profile-nav" alt="">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   style="color: black;" data-bs-toggle="dropdown" aria-expanded="false">
                                    @ViewBag.UserName
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" asp-action="Index" asp-controller="User">Login Page</a></li>
                                    <li><a class="dropdown-item" asp-action="Logout" asp-controller="User">Logout</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" asp-action="gridView" asp-controller="Platform">Home</a></li>
                                </ul>
                            </li>
                        </form>
                    </div>
                </nav>


                <div class="m-2">
                    <div class="tab-content" id="nav-tabContent">

                        <div class="tab-pane fade show active" id="nav-user" role="tabpanel" aria-labelledby="nav-user-tab">
                            <h4 class="pt-3 pb-2">User</h4>
                            <div class="d-flex justify-content-between">
                                <input class="form-control pl-5 w-25" style="border-style:none;" id="name" name="search" type="search" placeholder="&nbsp;Search User..." oninput="searchOnAdmin(1,'user')" aria-label="Search">

                                <button type="button" class="btn btn-outline-warning applyButton" data-bs-toggle="modal" data-bs-target="#addUser" onclick="clearModalAdmin()">
                                    <i class="bi bi-plus"></i> Add
                                </button>

                                <div class="modal fade" id="addUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Add User</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body d-flex flex-column align-items-center justufy-content-center">
                                                @*<input type="text" id="userId" hidden class="form-control">*@
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 mt-2">
                                                        <label class="form-label mt-2">FirstName</label>
                                                        <input type="text" class="form-control" id="firstName" placeholder="Enter First Name" required />
                                                        <span id="firstNameError" class=text-danger></span><br />

                                                    </div>
                                                    <div class="col-lg-6 col-md-6 mt-2">
                                                        <label class="form-label mt-2">LastName</label>
                                                        <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name" required />
                                                        <span id="lastNameError" class=text-danger></span><br />

                                                    </div>
                                                    <div class="col-lg-6 col-md-6 mt-2">
                                                        <label class="form-label mt-2">Email</label>
                                                        <input type="email" class="form-control" id="email" placeholder="Enter MailId" onblur="checkSameMail()" required />
                                                        <span id="emailError" class=text-danger></span><br />

                                                    </div>
                                                    <div class="col-lg-6 col-md-6 mt-2">
                                                        <label class="form-label mt-2">Password</label>
                                                        <input type="password" class="form-control" id="password" placeholder="Enter Password" required />
                                                        <span id="passwordError" class=text-danger></span><br />

                                                    </div>
                                                    <div class="col-lg-6 col-md-6 mt-2">
                                                        <label class="form-label mt-2">PhoneNumber</label>
                                                        <input type="number" class="form-control" id="phoneNumber" placeholder="Enter PhoneNumber" required />
                                                        <span id="phoneNumberError" class=text-danger></span><br />

                                                    </div>
                                                    <div class="col-lg-6 col-md-6 mt-2">
                                                        <label class="form-label mt-2">Role</label>
                                                        <select id='role' class="form-select me-3" aria-label="Select Mission">
                                                            <option value="Admin">Admin</option>
                                                            <option value="User">User</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                @*                                                <select type="text" class="form-control form-select">
                                                    <option value="0">Select status</option>
                                                    <option value="Active">Active</option>
                                                    <option value="InActive">InActive</option>
                                                    </select>
                                                *@
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary" onclick="addViaAdmin('user')">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="deleteUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete User</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Are You Sure!!!
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary" onclick="deleteViaAdmin('user')">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="users" class="mt-2">
                                <partial name="_userAdminPartial" />
                            </div>
                        </div>

                        <div class="tab-pane fade" id="nav-cms" role="tabpanel" aria-labelledby="nav-cms-tab">
                            <h4 class="pt-3 pb-2">CMS</h4>
                            <div class="d-flex justify-content-between">
                                <input class="form-control pl-5 w-25" style="border-style:none;" id="name" name="searchCms" type="search" placeholder="&nbsp;Search cms..." oninput="searchOnAdmin(1,'cms')" aria-label="Search">

                                <button type="button" class="btn btn-outline-warning applyButton" data-bs-toggle="modal" data-bs-target="#addCMS" onclick="clearModalAdmin()">
                                    <i class="bi bi-plus"></i> Add
                                </button>

                                <div class="modal fade" id="addCMS" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">CMS Section</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>

                                            <div class="modal-body d-flex flex-column align-items-center justufy-content-center">
                                                <div class="w-100">
                                                    <input type="text" id="CmsPageId" hidden class="form-control">

                                                    <label class="form-label mt-2">Title</label>
                                                    <input type="text" class="form-control" id="title" placeholder="title..." />
                                                    <span id="titleError" class=text-danger></span><br />

                                                </div>
                                                <div class="w-100 form-group">
                                                    <label class="form-label mt-2">Description</label>
                                                    <textarea rows=5 id="description" class="w-100" placeholder="description..."></textarea>
                                                    <span id="descriptionError" class=text-danger></span><br />


                                                </div>

                                                <div class="w-100">
                                                    <label class="form-label mt-2">Slug</label>
                                                    <input class="form-control" type="text" id="slug" placeholder="slug..." />
                                                    <span id="slugError" class=text-danger></span><br />


                                                </div>
                                                <div class="w-100">
                                                    <label class="form-label mt-2">Status</label>
                                                    <select type="text" class="form-control form-select" id="statusCms">
                                                        <option value="0">Select status</option>
                                                        <option value="Active">Active</option>
                                                        <option value="InActive">InActive</option>
                                                    </select>
                                                    <span id="statusCmsError" class=text-danger></span><br />


                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary" onclick="addViaAdmin('cms')">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="deleteCMS" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete CMS</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Are You Sure!!!
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary" onclick="deleteViaAdmin('cms')">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="cms" class="mt-2">
                                <partial name="_cmsAdminPartial" />
                            </div>
                        </div>

                        <div class="tab-pane fade" id="nav-mission" role="tabpanel" aria-labelledby="nav-mission-tab">
                            <h4 class="pt-3 pb-2">Mission</h4>
                            <div class="d-flex justify-content-between">
                                <input class="form-control pl-5 w-25" style="border-style:none;" id="name" name="searchMission" type="search" placeholder="&nbsp;Search Mission..." oninput="searchOnAdmin(1,'mission')" aria-label="Search">

                                <button type="button" class="btn btn-outline-warning applyButton" data-bs-toggle="modal" data-bs-target="#addMission" onclick="clearModalAdmin()">
                                    <i class="bi bi-plus"></i> Add
                                </button>

                                <div class="modal fade" id="addMission" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Mission Information</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <input type="hidden" id="missionId" />

                                                <label class="mt-3"> Title </label>
                                                <input type="text" class="form-control" id="missionTitle">
                                                <span id="missionTitleError" class=text-danger></span><br />

                                                <label class="mt-3"> Description</label>
                                                <textarea id="missionDescription" type="text" class="form-control" rows="6" placeholder="Enter Description..">

                                                    </textarea>
                                                <span id="missionDescriptionError" class=text-danger></span><br />

                                                <label class="mt-3"> Short Description </label>
                                                <input type="text" class="form-control" id="missionShortDescription">
                                                <span id="missionShortDescriptionError" class=text-danger></span><br />

                                                <div class="row mt-2">
                                                    <div class="col-sm-4">
                                                        <label class="form-label">Country<span class="text-danger">*</span></label>

                                                        <select class="form-select" id="country" onchange="getUserCity(0)" required>
                                                            <option value="0">Select Country</option>
                                                            @foreach (var i in Model.country)
                                                            {
                                                                <option value="@i.CountryId">@i.Name</option>
                                                            }
                                                        </select>
                                                        <span id="countryError" class=text-danger></span><br />
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label class="form-label">City<span class="text-danger">*</span></label>
                                                        <select class="form-select" id="selectCityList" required">
                                                            <option value="0" id="selectCity">Please select first country</option>
                                                        </select>
                                                        <span id="selectCityListError" class=text-danger></span><br />
                                                    </div>

                                                    <div class="col-sm-4">
                                                        <label class="form-label">Mission Type<span class="text-danger">*</span></label>
                                                        <select class="form-select" id="missionType" onclick="misTypeData()">
                                                            <option value="Goal">Goal</option>
                                                            <option value="Time" selected>Time</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <label class="mt-3"> Organisation Name </label>
                                                <input type="text" class="form-control" id="missionOrganisationName">
                                                <span id="missionOrganisationNameError" class=text-danger></span><br />

                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <label class="form-label">Skills </label>
                                                        <div class="form-group mt-3" id="addSkillsHere" rows="8" style="height:150px">
                                                             @*@for (var i = 0; i < @Model.missionSkills.Count; i++)
                                                                {
                                                                <li style="list-style-type:none">
                                                                <input asp-for="skillsToAdd" type="hidden" value="@Model.userSkills[i].SkillId" />
                                                                @Model.userSkills[i].Skill.SkillName
                                                                </li>
                                                                }*@
                                                        </div>

                                                        <div class="row mt-3">
                                                            <div class="col-12 d-flex justify-content-between">

                                                                <button type="button" class="btn btn-outline-dark rounded-pill" data-bs-toggle="modal" data-bs-target="#addAdminSkills">
                                                                    Add Skills
                                                                </button>




                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <label class="form-label">Organisation Detail </label>
                                                        <textarea id="missionOrganisationDetail" type="text" class="form-control" rows="6" placeholder="Enter Organisation Detail..">

                                                            </textarea>
                                                        <span id="missionOrganisationDetailError" class=text-danger></span><br />

                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-sm-4">
                                                        <label class="form-label">Start Date</label>
                                                        <input type="date" id="missionStartDate" class="form-control">
                                                        <span id="missionStartDateError" class=text-danger></span><br />

                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label class="form-label">End Date</label>
                                                        <input type="date" id="missionEndDate" class="form-control">
                                                        <span id="missionEndDateError" class=text-danger></span><br />
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label class="form-label">Theme</label>
                                                        <select class="form-select" id="missionTheme">
                                                            @foreach (var theme in Model.themeTitle)
                                                            {
                                                                <option value="@theme.MissionThemeId">@theme.Title</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="row mt-2">
                                                    <div class="col-sm-4 timemissionAdmin">
                                                        <label class="form-label">Total Seats</label>
                                                        <input type="number" id="missionSeat" class="form-control">
                                                        <span id="missionSeatError" class=text-danger></span><br />

                                                    </div>
                                                    <div class="col-sm-4 timemissionAdmin">
                                                        <label class="form-label"> Registration Deadline </label>
                                                        <input type="date" id="missionDeadline" class="form-control">
                                                        <span id="missionDeadlineError" class=text-danger></span><br />

                                                    </div>

                                                    <div class="col-sm-4 d-none goalmissionAdmin">
                                                        <label class="form-label">Goal Object</label>
                                                        <input type="text" id="goalObject" placeholder="Enter Goal of Mission" class="form-control" />
                                                        <span id="goalObjectError" class=text-danger></span><br />

                                                    </div>
                                                    <div class="col-sm-4 d-none goalmissionAdmin">
                                                        <label class="form-label">Goal Value</label>
                                                        <input type="number" id="goalValue" placeholder="Enter Goal Value" class="form-control" />
                                                        <span id="goalValueError" class=text-danger></span><br />

                                                    </div>

                                                    <div class="col-sm-4">
                                                        <label class="form-label">Availability</label>

                                                        <select class="form-select" id="missionAvailability">
                                                            <option value="0">Select your availablity</option>
                                                            <option value="daily">daily</option>
                                                            <option value="weekly">weekly</option>
                                                            <option value="week-end">week-end</option>
                                                            <option value="monthly">monthly</option>

                                                        </select>
                                                        <span id="missionAvailabilityError" class=text-danger></span><br />

                                                    </div>
                                                </div>

                                                <div class="row mt-2">
                                                    <div class="col-sm-6">
                                                        <label class="form-label"> Documents </label>
                                                        <input type="file" multiple id="missionDocument" class="form-control">
                                                        <span id="missionDocumentError" class=text-danger></span><br />

                                                    </div>
                                                    <div class="col-sm-5" id="newVidelUrl">
                                                        <label class="form-label">Video </label>
                                                        <input name="VideoUrl[]" type="text" class="form-control" id="missionVideo" placeholder="Enter your url">
                                                        <span id="missionVideoError" class=text-danger></span><br />

                                                    </div>
                                                    <div class="col-sm-1 ">
                                                        <button type="button" class="btn btn-primary mt-4" id="addLink">Add</button>
                                                    </div>
                                                </div>

                                                <div class="images w-100 mt-4 ">
                                                    <label class="form-label">Upload Your Photos</label>
                                                    <div class="w-100 border rounded d-flex flex-column align-items-center justify-content-center" style="height:100px;border-style:dashed;">
                                                        <img src="~/Assets/add.png" style="cursor:pointer;position:relative; top:20px;" />
                                                        <input type="file" accept="image/*" id="missionImage" style="opacity:0;cursor:pointer;" multiple />
                                                        <p style="margin-block:0px;cursor:pointer;"> Upload Pictures Here</p>
                                                    </div>
                                                    <div id="image-preview"></div>
                                                    <div id="selected-count"></div>
                                                    <span id="missionImageError" class=text-danger></span><br />

                                                    <div class="gallary mt-4 d-flex flex-wrap">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary" onclick="addViaAdmin('mission')">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*here Admin Skill's add skill modal*@
                                <div class="modal fade" id="addAdminSkills" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Skills</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">

                                                    <div class="col-5 ">
                                                        <div class="container ">
                                                            <div class="row text-center">
                                                                <div class="col-xs-4  scroll-hide">
                                                                    <select class="form-control" id="features"
                                                                            name="Features[]" multiple="multiple" style="height:200px">
                                                                        @foreach (var skill in Model.totalSkill)
                                                                        {
                                                                            <option value="@skill.SkillId">@skill.SkillName</option>
                                                                        }
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-2 mt-3">
                                                        <div class="col-xs-2">
                                                            <div class="input-group">
                                                                <button type="button" value="" class="border-0" id="add">
                                                                    >
                                                                </button>
                                                            </div>
                                                            <div class="input-group" style="padding-top:10px;">
                                                                <button type="button" value="" class="border-0" id="remove">
                                                                    <
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-5 ">
                                                        <div class="container ">
                                                            <div class="col-xs-4 scroll-hide">
                                                                <select class="form-control" name="FeatureCodes[]" size="9"
                                                                        id="selected_features" multiple="multiple" style="height:200px">
                                                                   @* @foreach (var skill in Model.skills)
                                                                    {
                                                                        <option value="@skill.SkillId">@skill.SkillName</option>
                                                                    }*@
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addMission">Cancel</button>
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addMission" onclick="addSelectedSkill()">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="deleteMission" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Mission</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Are You Sure!!!
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary" onclick="deleteViaAdmin('mission')">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div id="missions" class="mt-2">
                                <partial name="_missionAdminPartial" />
                            </div>
                        </div>

                        <div class="tab-pane fade" id="nav-theme" role="tabpanel" aria-labelledby="nav-theme-tab">
                            <h4 class="pt-3 pb-2">Theme</h4>
                            <div class="d-flex justify-content-between">
                                <input class="form-control pl-5 w-25" style="border-style:none;" id="name" name="searchTheme" type="search" placeholder="&nbsp;Search Theme..." oninput="searchOnAdmin(1,'theme')" aria-label="Search">

                                <button type="button" class="btn btn-outline-warning applyButton" data-bs-toggle="modal" data-bs-target="#addTheme" onclick="clearModalAdmin()">
                                    <i class="bi bi-plus"></i> Add
                                </button>

                                <div class="modal fade" id="addTheme" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Mission Theme Section</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <input type="text" id="themeId" hidden class="form-control">


                                                <label for="select mission" class="mt-3"> Title</label>
                                                <input type="text" class="form-control" id="themeTitle">
                                                <span id="themeTitleError" class=text-danger></span><br />

                                                <label class="mb-1 mt-3">Status</label>
                                                <select type="text" class="form-control form-select" id="statusTheme">
                                                    <option value="0">Select status</option>
                                                    <option value="Active">Active</option>
                                                    <option value="InActive">InActive</option>
                                                </select>
                                                <span id="statusThemeError" class=text-danger></span><br />

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary" onclick="addViaAdmin('theme')">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="deleteTheme" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Theme</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Are You Sure!!!
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary" onclick="deleteViaAdmin('theme')">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div id="themes" class="mt-2">
                                <partial name="_themeAdminPartial" />
                            </div>
                        </div>

                        <div class="tab-pane fade" id="nav-skill" role="tabpanel" aria-labelledby="nav-skill-tab">
                            <h4 class="pt-3 pb-2">Skills</h4>
                            <div class="d-flex justify-content-between">
                                <input class="form-control pl-5 w-25" style="border-style:none;" id="name" name="searchSkill" type="search" placeholder="&nbsp;Search Skill..." oninput="searchOnAdmin(1,'skill')" aria-label="Search">

                                <button type="button" class="btn btn-outline-warning applyButton" data-bs-toggle="modal" data-bs-target="#addSkill" onclick="clearModalAdmin()">
                                    <i class="bi bi-plus"></i> Add
                                </button>

                                <div class="modal fade" id="addSkill" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Skill Section</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <input type="text" id="skillId" hidden class="form-control">


                                                <label for="select mission" class="mt-3"> Skill Name </label>
                                                <input type="text" class="form-control" id="skillName">
                                                <span id="skillNameError" class=text-danger></span><br />

                                                <label class="mb-1 mt-3">Status</label>
                                                <select type="text" class="form-control form-select" id="statusSkill">
                                                    <option value="0">Select status</option>
                                                    <option value="Active">Active</option>
                                                    <option value="InActive">InActive</option>
                                                </select>
                                                <span id="statusSkillError" class=text-danger></span><br />
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary" onclick="addViaAdmin('skill')">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="deleteSkill" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Skill</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Are You Sure!!!
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary" onclick="deleteViaAdmin('skill')">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div id="skills" class="mt-2">
                                <partial name="_skillAdminPartial" />
                            </div>
                        </div>

                        <div class="tab-pane fade" id="nav-application" role="tabpanel" aria-labelledby="nav-application-tab">
                            <h4 class="pt-3 pb-2">Application</h4>
                            <div class="d-flex justify-content-between">
                                <input class="form-control pl-5 w-25" style="border-style:none;" id="name" name="searchApplication" type="search" placeholder="&nbsp;Search Application..." oninput="searchOnAdmin(1,'application')" aria-label="Search">

                                <div class="modal fade" id="approveApplication" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Approve Application</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <input type="text" id="missionApplicationId" hidden class="form-control">

                                                Are You Sure!!!
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary" onclick="deleteViaAdmin('approveApplication')">Approve</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="declineApplication" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Decline Application</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <input type="text" id="missionApplicationId" hidden class="form-control">

                                                Are You Sure!!!
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary" onclick="deleteViaAdmin('declineApplication')">Decline</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div id="applications" class="mt-2">
                                <partial name="_applicationAdminPartial" />
                            </div>
                        </div>

                        <div class="tab-pane fade" id="nav-story" role="tabpanel" aria-labelledby="nav-story-tab">
                            <h4 class="pt-3 pb-2">Story</h4>
                            <div class="d-flex justify-content-between">
                                <input class="form-control pl-5 w-25" style="border-style:none;" id="name" name="searchStory" type="search" placeholder="&nbsp;Search Story..." oninput="searchOnAdmin(1,'story')" aria-label="Search">

                            </div>

                            <div id="stories" class="mt-2">
                                <partial name="_storyAdminPartial" />
                            </div>
                        </div>

                        <div class="tab-pane fade" id="nav-banner" role="tabpanel" aria-labelledby="nav-banner-tab">
                            <h4 class="pt-3 pb-2">Banner</h4>
                            <div class="d-flex justify-content-between">
                                <input class="form-control pl-5 w-25" style="border-style:none;" id="name" name="searchBanner" type="search" placeholder="&nbsp;Search Story..." oninput="searchOnAdmin(1,'banner')" aria-label="Search">

                                <button type="button" class="btn btn-outline-warning applyButton" data-bs-toggle="modal" data-bs-target="#addBanner" onclick="clearModalAdmin()">
                                    <i class="bi bi-plus"></i> Add
                                </button>
                            </div>

                            <div id="banneres" class="mt-2">
                                <partial name="_bannerAdminPartial" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#addLink').click(function () {
                //var index = $('input[name="URL"]').length;
                var input = '<input type="text" class="form-control mt-1" id="missionVideo" name="VideoUrl[]" placeholder="Enter your url"/>';
                      //$(this).before(input);
                       $('#newVidelUrl').append(input);
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/index.js"></script>
     <script>
        $(document).ready(function () {
            $('#add').click(function () {
                return !$('#features option:selected')
                    .appendTo('#selected_features');
            });
            $('#remove').click(function () {
                return !$('#selected_features option:selected')
                    .remove().appendTo('#features');
            });
            $('#Save').click(function () {
                $('#selected_features').appendTo('#addSkillsHere');
            })

            function selectall() {
                $('#selected_features').find('option').each(function () {
                    $(this).attr('selected', 'selected');
                });
            }
        });
    </script>
</body>

</html>
