<div class="row gx-0">
    <table class="table table-hover table-bordered" style="width: 99%;margin-inline: auto;">
        <thead>
            <tr class="table-light" style="height: 70px;">
                <th scope="col" class="thforcmstable">Mission Title</th>
                <th scope="col" class="thforcmstable">Mission Id</th>
                <th scope="col" class="thforcmstable">User Id</th>
                <th scope="col" class="thforcmstable">User Name</th>
                <th scope="col" class="thforcmstable">Applied Date</th>
                <th scope="col" class="thforcmstable">Action</th>
            </tr>
        </thead>
        @foreach (var item in @Model.missionApplications)
        {
            <tbody class="table-border">
                <tr>
                    <td>@item.Mission.Title</td>
                    <td>@item.MissionId</td>
                    <td>@item.UserId</td>
                    <td>@item.User.FirstName @item.User.LastName</td>
                    <td>@item.AppliedAt</td>
                    <td>
                        <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#approveApplication" onclick="getViaAdmin(@item.MissionApplicationId,'application')">
                            <i class="bi bi-check-circle" style="color: green;"></i>
                        </button>
                        &nbsp;
                        <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#declineApplication" onclick="getViaAdmin(@item.MissionApplicationId,'application')">
                            <i class="bi bi-x-circle" style="color: red;"></i>
                        </button>


                    </td>
                </tr>
            </tbody>
        }
    </table>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end" onchange="searchOnAdmin(1,'application')">
        <li class="page-item">
            <button class="page-link" aria-label="Previous" onclick="searchOnAdmin(1,'application')">
                <span aria-hidden="true">&laquo;</span>
            </button>
        </li>
        <li class="page-item">
            @if (@ViewBag.pg_no != 1)
            {
                <button class="page-link" aria-label="Previous" onclick="searchOnAdmin(((@ViewBag.pg_no) - 1),'application')">
                    <span aria-hidden="true">&lt;</span>
                </button>
            }
            else
            {
                <button class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </button>
            }
        </li>
        @{
            double totalpages = ViewBag.Totalpages6;

            for (int ii = 1; ii <= totalpages; ii++)
            {
                @if (ii == ViewBag.pg_no)
                {
                    <li class="page-item">
                        <button class="page-link active" onclick="searchOnAdmin(@ii,'application')">@ii</button>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <button class="page-link" onclick="searchOnAdmin(@ii,'application')">@ii</button>
                    </li>
                }
            }
        }
        <li class="page-item">
            @if (@ViewBag.pg_no != @ViewBag.Totalpages6)
            {
                <button class="page-link" aria-label="Next" onclick="searchOnAdmin(((@ViewBag.pg_no) + 1),'application')">
                    <span aria-hidden="true">&gt;</span>
                </button>
            }
            else
            {
                <button class="page-link" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                </button>
            }
        </li>
        <li class="page-item">
            <button class="page-link" aria-label="Next" onclick="searchOnAdmin(@ViewBag.Totalpages6,'application')">
                <span aria-hidden="true">&raquo;</span>
            </button>
        </li>
    </ul>
</nav>
