<div class="container my-2">
    <header>
        <div class="d-flex flex-row align-items-center pb-1 mb-2">

            <nav class="d-inline-flex mt-2 mt-md-0 me-auto">
                <a class="me-3 py-2 text-dark text-decoration-none" asp-controller=Platform asp-action=gridView>Home</a>
                <a class="me-3 py-2 text-dark text-decoration-none" asp-controller=Story asp-action=storyListing>Stories</a>
                <a class="me-3 py-2 text-dark text-decoration-none" asp-controller=User asp-action=privacyPolicy>Policy</a>


            </nav>
            <div class="d-flex justify-content-between">

                <div class="btn-group">
                    <div class="d-flex justify-content-between">
                        @{
                            string style = "auto";
                            <div class="dropdown d-flex justify-content-center align-items-center">
                                <span class="notification-badge" data-bs-toggle="dropdown" id="notification" role="button" aria-haspopup="true" aria-expanded="false">

                                    <img class="position-relative" src="~/Assets/bell.png" alt="not load" />
                                    @if (ViewBag.Notifications is not null)
                                    {
                                        style = @ViewBag.Notifications.NotificationCount == 0 ? "850px" : "auto";
                                        <span class="badge text-black position-absolute rounded-circle" style="background-color: orange; left: 12px;top: -6px;">@ViewBag.Notifications.NotificationCount</span>
                                    }
                                    else
                                    {
                                        style = "850px";
                                        <span class="badge text-black position-absolute rounded-circle" style="background-color: orange; left: 12px;top: -6px;">0</span>
                                    }
                                </span>

                                <div class="dropdown-menu notification" style="width:@style;" aria-labelledby="notification">
                                    <div class="dropdown-header d-flex justify-content-between border-bottom">
                                        <i class="bi bi-gear-fill" style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#notification-setting" alt="not-load"></i>
                                        <strong>Notifications</strong>
                                        <span style="cursor:pointer;" onclick="ClearAllNotifications()">Clear All</span>
                                    </div>


                                    @{
                                        if (ViewBag.Notifications is not null)
                                        {
                                            foreach (var item in ViewBag.Notifications.NewRecommendations)
                                            {
                                                List<CIPlatform.Entities.Models.User> users = ViewBag.Notifications.users;
                                                var FromUser = users.FirstOrDefault(x => x.UserId == item.FromId);

                                                <div class=" dropdown-item d-flex align-items-center justify-content-between border-bottom">
                                                    <div class="d-flex align-items-center">
                                                        <img src="/Assets/@FromUser.Avatar" class="rounded-5" alt="not-load" style="height:45px;width:45px" />
                                                        <a href="/Platform/missionDetails/@item.MissionId" onclick="ReadNotification(@item.NotificationId)" style="text-decoration:none;"> <span class="dropdown-item-text text-muted">@FromUser.FirstName @FromUser.LastName: recomended this mission - <span class="text-black">@item.Mission.Title ...</span> </span></a>
                                                    </div>
                                                    @if (item.Status)
                                                    {
                                                        <div class="rounded-circle d-flex align-item-center justify-content-center" style="background-color:gray;height:15px;width:15px;"><img class="w-75 h-75" src="~/Assets/right-white.png" alt="not-load" /></div>
                                                    }
                                                    else
                                                    {
                                                        <div class="rounded-circle" style="background-color:orange;height:15px;width:15px;"></div>
                                                    }
                                                </div>
                                            }
                                            foreach (var item in ViewBag.Notifications.NewStoryRecommendations)
                                            {
                                                List<CIPlatform.Entities.Models.User> users = ViewBag.Notifications.users;
                                                var FromUser = users.FirstOrDefault(x => x.UserId == item.FromId);

                                                <div class=" dropdown-item d-flex align-items-center justify-content-between border-bottom">
                                                    <div class="d-flex align-items-center">
                                                        <img src="/Assets/@FromUser.Avatar" class="rounded-5" alt="not-load" style="height:45px;width:45px" />
                                                        <a href="/Story/storyDetail/@item.StoryId" onclick="ReadNotification(@item.NotificationId)" style="text-decoration:none;"> <span class="dropdown-item-text text-muted">@FromUser.FirstName @FromUser.LastName: recomended this story - <span class="text-black">@item.Story.Title ...</span> </span></a>
                                                    </div>
                                                    @if (item.Status)
                                                    {
                                                        <div class="rounded-circle d-flex align-item-center justify-content-center" style="background-color:gray;height:15px;width:15px;"><img class="w-75 h-75" src="~/Assets/right-white.png" alt="not-load" /></div>
                                                    }
                                                    else
                                                    {
                                                        <div class="rounded-circle" style="background-color:orange;height:15px;width:15px;"></div>
                                                    }
                                                </div>
                                            }
                                            foreach (var item in ViewBag.Notifications.NewStories)
                                            {
                                                string Status = @item.Story.Status == "DECLINED" ? "DECLINED" : "PUBLISHED";
                                                string image = "green-checkmark-line-icon.png";
                                                if (Status == "DECLINED")
                                                {
                                                    image = "red-x-line-icon.png";
                                                }
                                                <div class=" dropdown-item d-flex align-items-center justify-content-between border-bottom">
                                                    <div class="d-flex align-items-center">
                                                        <img src="~/Assets/@image" class="n-user" alt="not-load" style="height:40px;width:40px" />
                                                        <a href="/Story/storyDetail/@item.StoryId" onclick="ReadNotification(@item.NotificationId)" style="text-decoration:none;"> <span class="dropdown-item-text text-muted">Your Story - @item.Story.Title ... - Of Mission - @item.Mission.Title ... - Is @Status </span></a>
                                                    </div>
                                                    @if (item.Status)
                                                    {
                                                        <div class="rounded-circle d-flex align-item-center justify-content-center" style="background-color:gray;height:15px;width:15px;"><img class="w-75 h-75" src="~/Assets/right-white.png" alt="not-load" /></div>
                                                    }
                                                    else
                                                    {
                                                        <div class="rounded-circle" style="background-color:orange;height:15px;width:15px;"></div>
                                                    }
                                                </div>
                                            }
                                            foreach (var item in ViewBag.Notifications.NewMissionApplications)
                                            {
                                                List<CIPlatform.Entities.Models.MissionApplication> applicatifon = item.Mission.MissionApplications;
                                                string Status = applicatifon.FirstOrDefault(a => a.UserId == item.UserId && a.MissionId == item.MissionId).ApprovalStatus == "Decline" ? "Declined" : "Approved";
                                                string image = "green-checkmark-line-icon.png";
                                                if (Status == "Declined")
                                                {
                                                    image = "red-x-line-icon.png";
                                                }
                                                <div class=" dropdown-item d-flex align-items-center justify-content-between border-bottom">
                                                    <div class="d-flex align-items-center">
                                                        <img src="~/Assets/@image" class="n-user" alt="not-load" style="height:40px;width:40px" />
                                                        <a href="/Platform/missionDetails/@item.MissionId" onclick="ReadNotification(@item.NotificationId)" style="text-decoration:none;"> <span class="dropdown-item-text text-muted">Volunteering request has been @Status for this mission - <span class="text-black">@item.Mission.Title ...</span> </span></a>
                                                    </div>
                                                    @if (item.Status)
                                                    {
                                                        <div class="rounded-circle d-flex align-item-center justify-content-center" style="background-color:gray;height:15px;width:15px;"><img class="w-75 h-75" src="~/Assets/right-white.png" alt="not-load" /></div>
                                                    }
                                                    else
                                                    {
                                                        <div class="rounded-circle" style="background-color:orange;height:15px;width:15px;"></div>
                                                    }
                                                </div>
                                            }
                                            foreach (var item in ViewBag.Notifications.NewMissions)
                                            {
                                                <div class="dropdown-item d-flex align-items-center justify-content-between border-bottom mt-2">
                                                    <div class="d-flex align-items-center">
                                                        <img src="~/Assets/add.png" alt="not-load" style="height:40px; width:40px"/>
                                                        <a href="/Platform/missionDetails/@item.MissionId" onclick="ReadNotification(@item.NotificationId)" style="text-decoration:none;"><span class="dropdown-item-text text-muted">New Mission - <span class="text-black">@item.Mission.Title ...</span> </span></a>
                                                    </div>
                                                    @if (item.Status)
                                                    {
                                                        <div class="rounded-circle d-flex align-item-center justify-content-center" style="background-color:gray;height:15px;width:15px;"><img class="w-75 h-75" src="~/Assets/right-white.png" alt="not-load" /></div>
                                                    }
                                                    else
                                                    {
                                                        <div class="rounded-circle" style="background-color:orange;height:15px;width:15px;"></div>
                                                    }
                                                </div>
                                            }
                                        }

                                    }
                                    <div class="w-100 d-flex justify-content-center align-items-center mt-2" style="background-color:#dad8d8;height:18px;"><span>Older</span></div>

                                    @{
                                        if (ViewBag.Notifications is not null)
                                        {
                                            foreach (var item in ViewBag.Notifications.OldRecommendations)
                                            {
                                                List<CIPlatform.Entities.Models.User> users = ViewBag.Notifications.users;
                                                var FromUser = users.FirstOrDefault(x => x.UserId == item.FromId);

                                                <div class=" dropdown-item d-flex align-items-center justify-content-between border-bottom">
                                                    <div class="d-flex align-items-center">
                                                        <img src="/Assets/@FromUser.Avatar" class="rounded-5" alt="not-load" style="height:45px;width:45px" />
                                                        <a href="/Platform/missionDetails/@item.MissionId" onclick="ReadNotification(@item.NotificationId)" style="text-decoration:none;"> <span class="dropdown-item-text text-muted">@FromUser.FirstName @FromUser.LastName: recomended this mission - <span class="text-black">@item.Mission.Title ...</span> </span></a>
                                                    </div>
                                                    @if (item.Status)
                                                    {
                                                        <div class="rounded-circle d-flex align-item-center justify-content-center" style="background-color:gray;height:15px;width:15px;"><img class="w-75 h-75" src="~/Assets/right-white.png" alt="not-load" /></div>
                                                    }
                                                    else
                                                    {
                                                        <div class="rounded-circle" style="background-color:orange;height:15px;width:15px;"></div>
                                                    }
                                                </div>
                                            }
                                            foreach (var item in ViewBag.Notifications.OldStoryRecommendations)
                                            {
                                                List<CIPlatform.Entities.Models.User> users = ViewBag.Notifications.users;
                                                var FromUser = users.FirstOrDefault(x => x.UserId == item.FromId);

                                                <div class=" dropdown-item d-flex align-items-center justify-content-between border-bottom">
                                                    <div class="d-flex align-items-center">
                                                        <img src="/Assets/@FromUser.Avatar" class="rounded-5" alt="not-load" style="height:45px;width:45px" />
                                                        <a href="/Story/storyDetail/@item.StoryId" onclick="ReadNotification(@item.NotificationId)" style="text-decoration:none;"> <span class="dropdown-item-text text-muted">@FromUser.FirstName @FromUser.LastName: recomended this story - <span class="text-black">@item.Story.Title ...</span> </span></a>
                                                    </div>
                                                    @if (item.Status)
                                                    {
                                                        <div class="rounded-circle d-flex align-item-center justify-content-center" style="background-color:gray;height:15px;width:15px;"><img class="w-75 h-75" src="~/Assets/right-white.png" alt="not-load" /></div>
                                                    }
                                                    else
                                                    {
                                                        <div class="rounded-circle" style="background-color:orange;height:15px;width:15px;"></div>
                                                    }
                                                </div>
                                            }
                                            foreach (var item in ViewBag.Notifications.OldStories)
                                            {
                                                string Status = @item.Story.Status == "DECLINED" ? "DECLINED" : "PUBLISHED";
                                                string image = "green-checkmark-line-icon.png";
                                                if (Status == "DECLINED")
                                                {
                                                    image = "red-x-line-icon.png";
                                                }
                                                <div class=" dropdown-item d-flex align-items-center justify-content-between border-bottom">
                                                    <div class="d-flex align-items-center">
                                                        <img src="~/Assets/@image" class="n-user" alt="not-load" style="height:40px;width:40px" />
                                                        <a href="/Story/storyDetail/@item.StoryId" onclick="ReadNotification(@item.NotificationId)" style="text-decoration:none;"> <span class="dropdown-item-text text-muted">Your Story - @item.Story.Title ... - Of Mission - @item.Mission.Title ... - Is @Status </span></a>
                                                    </div>
                                                    @if (item.Status)
                                                    {
                                                        <div class="rounded-circle d-flex align-item-center justify-content-center" style="background-color:gray;height:15px;width:15px;"><img class="w-75 h-75" src="~/Assets/right-white.png" alt="not-load" /></div>
                                                    }
                                                    else
                                                    {
                                                        <div class="rounded-circle" style="background-color:orange;height:15px;width:15px;"></div>
                                                    }
                                                </div>
                                            }
                                            foreach (var item in ViewBag.Notifications.OldMissionApplications)
                                            {
                                                List<CIPlatform.Entities.Models.MissionApplication> applicatifon = item.Mission.MissionApplications;
                                                string Status = applicatifon.FirstOrDefault(a => a.UserId == item.UserId && a.MissionId == item.MissionId).ApprovalStatus == "Decline" ? "Declined" : "Approved";
                                                string image = "green-checkmark-line-icon.png";
                                                if (Status == "Declined")
                                                {
                                                    image = "red-x-line-icon.png";
                                                }
                                                <div class=" dropdown-item d-flex align-items-center justify-content-between border-bottom">
                                                    <div class="d-flex align-items-center">
                                                        <img src="~/Assets/@image" class="n-user" alt="not-load" style="height:40px;width:40px" />
                                                        <a href="/Platform/missionDetails/@item.MissionId" onclick="ReadNotification(@item.NotificationId)" style="text-decoration:none;"> <span class="dropdown-item-text text-muted">Volunteering request has been @Status for this mission - <span class="text-black">@item.Mission.Title ...</span> </span></a>
                                                    </div>
                                                    @if (item.Status)
                                                    {
                                                        <div class="rounded-circle d-flex align-item-center justify-content-center" style="background-color:gray;height:15px;width:15px;"><img class="w-75 h-75" src="~/Assets/right-white.png" alt="not-load" /></div>
                                                    }
                                                    else
                                                    {
                                                        <div class="rounded-circle" style="background-color:orange;height:15px;width:15px;"></div>
                                                    }
                                                </div>
                                            }
                                            foreach (var item in ViewBag.Notifications.OldMissions)
                                            {
                                                <div class="dropdown-item d-flex align-items-center justify-content-between border-bottom mt-2">
                                                    <div class="d-flex align-items-center">
                                                        <img src="~/Assets/add.png" alt="not-load" style="height:40px; width:40px"/>
                                                        <a href="/Platform/missionDetails/@item.MissionId" onclick="ReadNotification(@item.NotificationId)" style="text-decoration:none;"><span class="dropdown-item-text text-muted">New Mission - <span class="text-black">@item.Mission.Title ...</span> </span></a>
                                                    </div>
                                                    @if (item.Status)
                                                    {
                                                        <div class="rounded-circle d-flex align-item-center justify-content-center" style="background-color:gray;height:15px;width:15px;"><img class="w-75 h-75" src="~/Assets/right-white.png" alt="not-load" /></div>
                                                    }
                                                    else
                                                    {
                                                        <div class="rounded-circle" style="background-color:orange;height:15px;width:15px;"></div>
                                                    }
                                                </div>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        }

                    </div>
                </div>

            </div>
            @*modal for setting of notifications*@
            <div class="modal fade" id="notification-setting" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Notification Settings</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            @{
                                List<string> Settings = new List<string>();
                                if (ViewBag.Notifications is not null)
                                {
                                    Settings = ViewBag.Notifications.Settings;
                                }
                            }
                            <div class="d-flex justify-content-between">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Recommended Missions
                                </label>
                                @if (@Settings.Contains("recommend") && !@Settings.Contains("no-setting"))
                                {
                                    <input class="form-check-input setting" checked="checked" type="checkbox" value="recommend">
                                }
                                else
                                {
                                    <input class="form-check-input setting" type="checkbox" value="recommend">
                                }
                            </div>
                            <div class="d-flex justify-content-between">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Recommended Story
                                </label>
                                @if (@Settings.Contains("recommendStory") && !@Settings.Contains("no-setting"))
                                {
                                    <input class="form-check-input setting" checked="checked" type="checkbox" value="recommendStory">
                                }
                                else
                                {
                                    <input class="form-check-input setting" type="checkbox" value="recommendStory">
                                }
                            </div>
                            <div class="d-flex justify-content-between">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Stories
                                </label>
                                @if (@Settings.Contains("story") && !@Settings.Contains("no-setting"))
                                {
                                    <input class="form-check-input setting" checked="checked" type="checkbox" value="story">
                                }
                                else
                                {
                                    <input class="form-check-input setting" type="checkbox" value="story">
                                }
                            </div>
                            <div class="d-flex justify-content-between">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Missions Apply Requests
                                </label>
                                @if (@Settings.Contains("missionapplication") && !@Settings.Contains("no-setting"))
                                {
                                    <input class="form-check-input setting" checked="checked" type="checkbox" value="missionapplication">
                                }
                                else
                                {
                                    <input class="form-check-input setting" type="checkbox" value="missionapplication">
                                }
                            </div>
                            <div class="d-flex justify-content-between">
                                <label class="form-check-label" for="flexCheckDefault">
                                    New Missions
                                </label>
                                @if (@Settings.Contains("mission") && !@Settings.Contains("no-setting"))
                                {
                                    <input class="form-check-input setting" checked="checked" type="checkbox" value="mission">
                                }
                                else
                                {
                                    <input class="form-check-input setting" type="checkbox" value="mission">
                                }
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn applyButton" data-bs-dismiss="modal">Cancle</button>
                            <button type="button" onclick="UpdateSetting()" class="btn applyButton">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="d-flex align-items-center text-dark text-decoration-none ms-3 dropdown-toggle" data-bs-toggle="dropdown"
               aria-expanded="false">
                @if (@ViewBag.Avatar != "")
                {
                    <img src="~/Assets/@ViewBag.Avatar" style="height: 40px;width: 40px;border-radius: 50%;"
                     alt="">
                }
                else
                {
                    <img src="~/Assets/user1.png" style="height: 40px;width: 40px;border-radius: 50%;"
                     alt="">
                }
                <span class="d-none d-sm-block">@ViewBag.UserName</span>
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-controller="User" asp-action="editProfile" asp-route-id="@ViewBag.UserId">Edit Profile</a></li>
                <hr class="dropdown-divider">
                <li><a class="dropdown-item" asp-controller="User" asp-action="timeSheet">Volunteering Timesheet</a></li>
                <hr class="dropdown-divider">
                <li><a class="dropdown-item" asp-controller="User" asp-action="Logout">Logout</a></li>
            </ul>
        </div>
    </header>
</div>