<style>
    .editBtn {
        border: 2px solid #F88634;
        border-radius: 100px;
        color: #F88634;
        padding-left: 20px;
        padding-right: 20px;
    }

        .editBtn:hover {
            background-color: #F88634;
            color: white;
        }
</style>
@foreach (var i in @ViewBag.storyListing)
{
    <div class="col-lg-4 col-md-6 mb-2">
        <div class="card box" style="height:100%">
            <div class="card box-img">
                <img src="/Assets/@i.MediaPath" class="card-img-top img-fluid" alt="..."  style="height:200px" / >
                <div class="d-flex flex-column card-img-overlay p-0">
                    <div class="w-100 h-100">
                        <form class="card card-transparent-overlay w-100 h-100">
                            <button type="submit" class="mx-auto my-auto btn btn-outline card-text share-your-story" asp-controller="Story" asp-action="storyDetail" asp-route-id="@i.StoryId">
                                View Details<i class="ms-2 bi bi-arrow-right"></i>
                            </button>
                        </form>
                    </div>

                </div>
            </div>

            <div class="d-flex justify-content-center">
                <button type="button" class="img-btn px-3">@i.Theme</button>
            </div>

            <div class="card-body">
                <h5 class="card-title">
                    @i.StoryTitle
                </h5>
                <p class="card-text">
                    @*                    @{
                        var a = @i.Description.IndexOf('.');
                        var b= @i.Description.Substring(0,a+1);
                        }*@
                    @Html.Raw(string.IsNullOrEmpty(i.Description) ? "" : i.Description.Substring(0, Math.Min(i.Description.Length, 150)))
                </p>
                <br>
                <div class="d-flex justify-content-between">
                    <div>
                        <img src="/Assets/@i.Avatar" class="user-image" alt=""> <span>@i.UserName</span>
                    </div>
                    <div>
                        @if (i.storyStatus == "DRAFT")
                        {
                            <a type="submit" class="btn btn-outline-warning editBtn" asp-controller="Story" asp-action="shareStory" asp-route-id="@i.StoryId">
                                Edit<i class="bi bi-arrow-right"></i>
                            </a>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
}

<nav aria-label="Page navigation example" class=mt-5>
    <ul class="pagination justify-content-center" onchange="searchStory()">
        <li class="page-item">
            <button class="page-link" aria-label="Previous" onclick="searchStory(1)">
                <span aria-hidden="true">&laquo;</span>
            </button>
        </li>
        <li class="page-item">

            @if (@ViewBag.pg_no != 1)
            {
                <button class="page-link" aria-label="Previous" onclick="searchStory(((@ViewBag.pg_no) - 1))">
                    <span aria-hidden="true">&lt;</span>
                </button>
            }
            else
            {
                <button class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </button>
            }
        </li>
        @{
            double totalpages = ViewBag.Totalpages;



            for (int i = 1; i <= totalpages; i++)
            {
                @if (i == ViewBag.pg_no)
                {
                    <li class="page-item ">
                        <button class="page-link active" onclick="searchStory(@i)">@i </button>

                    </li>
                }
                else
                {
                    <li class="page-item">
                        <button class="page-link" onclick="searchStory(@i)">@i</button>
                    </li>
                }


            }
        }



        <li class="page-item">
            @if (@ViewBag.pg_no != @ViewBag.Totalpages)
            {
                <button class="page-link" aria-label="Next" onclick="searchStory(((@ViewBag.pg_no) + 1))">
                    <span aria-hidden="true">&gt;</span>
                </button>
            }
            else
            {
                <button class="page-link" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                </button>

            }
        </li>
        <li class="page-item">
            <button class="page-link" aria-label="Next" onclick="searchStory(@ViewBag.Totalpages)">
                <span aria-hidden="true">&raquo;</span>
            </button>
        </li>
    </ul>
</nav>
