@model CIPlatform.Entities.ViewModel.MissionViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share your Story</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="https://cdn.ckeditor.com/4.20.2/standard/ckeditor.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>*@
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

    @*<link rel="stylesheet" href="~/css/StoryListing.css">*@

    <style>
        #uploaded-images {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 20px;
        }

            #uploaded-images img {
                max-width: 200px;
                max-height: 200px;
                margin-right: 10px;
                margin-bottom: 10px;
            }

        #drop-zone {
            border: 2px dashed #ccc;
            padding: 20px;
            text-align: center;
            font-size: 20px;
            margin-bottom: 20px;
        }





        .tox-notifications-container {
            display: none !important;
        }

        .file {
            width: 100%;
            height: 100%;
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

        output {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 15px;
            position: relative;
            border-radius: 5px;
        }

            output .image {
                height: 100%;
                border-radius: 5px;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
                overflow: hidden;
                position: relative;
            }

                output .image img {
                    height: 75px;
                    width: 75px;
                }

                output .image span {
                    position: absolute;
                    top: -4px;
                    right: 4px;
                    cursor: pointer;
                    font-size: 22px;
                    color: white;
                }

                    output .image span:hover {
                        opacity: 0.8;
                    }

            output .span--hidden {
                visibility: hidden;
            }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: lightgray;
            color: white;
        }
    </style>


</head>

<body>
    <partial name="_Notification" />

    <partial name="_firstHeaderPartial" />

    <div class="container-fluid mb-5">
        <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-10">
                <form method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-lg-12">
                            <span class="story">Share your story</span>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-4">
                            <label>
                                <input asp-for=StoryId hidden/>
                                Select Mission
                            </label>
                            <select asp-for=MissionId class="form-select">
                                <option disabled selected>Select your mission</option>

                                @foreach (var i in ViewBag.misApp)
                                {
                                    <option value="@i.MissionId">@i.Title</option>

                                }


                            </select>

                        </div>
                        <div class="col-lg-4">
                            <label asp-for=StoryTitle>
                                My Story Title
                            </label>
                            <div class="form-group">

                                <input asp-for=StoryTitle class="form-control" placeholder="Enter story title" maxlength="255" required data-val="true" data-val-required="enter karo....">
                                <span asp-validation-for=StoryTitle class=text-danger></span><br />
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label asp-for=PublishedDate>
                                Date
                            </label>
                            <div class="form-group">
                                <input asp-for=PublishedDate type="date" class="form-control" required>
                                <span asp-validation-for=PublishedDate class=text-danger></span><br />
                            </div>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-12">
                            My Story
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <textarea asp-for=Description id="" name=Description cols="172" rows="10" maxlength="40000" required></textarea>
                            <span asp-validation-for=Description class=text-danger></span>
                            <script>
                                CKEDITOR.replace('Description');
                            </script>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-12">
                            Enter Video URL
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group" id="urlVideo">
                                @if (@Model != null)
                                {
                                    @if (@Model.URL != null)
                                    {
                                        @foreach (var i in Model.URL)
                                        {
                                            <input asp-for="URL" value="@i" type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter your url">
                                        }
                                    }
                                    else
                                    {
                                        <input asp-for="URL" name="URL[]" type="text" class="form-control" id="formGroupExampleInput" required placeholder="Enter your url">
                                    }
                                }
                                else
                                {
                                    <input asp-for="URL" name="URL[]" type="text" class="form-control" id="formGroupExampleInput" required placeholder="Enter your url">
                                }
                                <button type="button" class="btn btn-primary" id="addLink">Add Link</button>

                            </div>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-12 mb-3">

                            <div class="form-group">
                                <label class="form-label">Upload Your Photos</label>
                                <div class="d-flex justify-content-center align-items-center border input-div position-relative" style="height:150px">


                                    <input id="imageupload" type="file" asp-for="file" class="file" maxlength=2 accept="image/jpeg, image/png, image/jpg" multiple required /><img src="~/Assets/drag-and-drop.png">

                                </div>
                            </div>


                            @*                            <label><p>Upload your Photos</p></label>
                                <div class="drag-area flex-column w-100 d-flex justify-content-center">
                                <div class="icon text-center" style="position:relative">
                                <div style="position:absolute;top:26%;left:37%">
                                <img class="mb-2" src="~/Assets/add.png" alt="">
                                <p class="drag-text">Drag & Drop pictures and videos here.</p>
                                </div>
                                </div>
                                </div>
                            *@                                    @*<input asp-for="file" type="file">*@
                            @*                                <input name="storyMedia" asp-for=storyMedia class="file-upload" id="file-input" style="width:100%; height:149px;opacity:0">
                                <span asp-validation-for=storyMedia class=text-danger></span>
                            *@
                        </div>

                 @*       <output class="mt-3">
                            @if (@Model != null)
                            {
                                foreach (var i in Model.ListMediaPath)
                                {
                                    <div class="image storyimages">
                                        <img src="~/Assets/Story/@i.Path" alt="image">
                                    </div>
                                }
                            }
                        </output>*@
                        <output class="mt-3" id="preview">
                            
                        </output>


                        @*<div class="col-12 mb-3">
                            <div class="row dropped-image" id="dropped-image">
                            <div></div>
                            </div>
                            </div>*@
                        @*<script>
                            debugger
                            const droppedImage = document.getElementById("dropped-image");

                            function removeImage(divId) {

                            document.getElementById(divId).remove();
                            }

                            $("#file-input").change(function () {
                            debugger
                            var uploadedFiles = [];
                            uploadedFiles = $("#file-input")[0].files;

                            let divId = 1;
                            for (var i = 0; i < uploadedFiles.length; i++) {
                            let fileType = uploadedFiles[i].type;

                            let validExtensions = ["image/jpeg", "image/jpg", "image/png"];

                            if (validExtensions.includes(fileType)) {

                            let fileReader = new FileReader();
                            fileReader.onload = (e) => {
                            let fileURL = e.target.result;


                            var tag = `<div class="col-2" id="${divId}" style="position:relative">
                            <img class="w-100" src="${fileURL}" alt="">
                            <img src="/Assets/cancel1.png" onclick="removeImage(${divId})" class="cross">
                            </div>`;
                            divId += 1;

                            droppedImage.innerHTML += tag;
                            }
                            fileReader.readAsDataURL(uploadedFiles[i]);
                            console.log(uploadedFiles[i]);
                            }
                            }
                            })
                            </script>*@


                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-3 col-2 text-start">
                            <a class="btn btn-primary" type="button" asp-controller="Story" asp-action="storyListing">Cancel</a>
                        </div>
                        <div class="col-lg-6 col-md-9 col-10 text-end">
                            @if (ViewBag.StoryId != null)
                            {
                                <a class="btn btn-primary" type="submit" asp-controller="Story" asp-action="storyDetail" asp-route-id="@ViewBag.StoryId" target="_blank">Preview</a>
                            }
                            else
                            {
                                <button class="btn btn-primary" type="button" disable target="_blank">Preview</button>
                            }
                            <button class="btn btn-primary" type="submit" name="name" id="Save" value="Save" asp-controller="Story" asp-action="shareStory">Save</button>
                            <button class="btn btn-primary" type="submit" name="name" value="Submit" @if (ViewBag.disabled ?? false){} else{


                            <text>disabled</text>


} asp-controller="Story" asp-action="shareStory">Submit</button>

                        </div>
                    </div>
                </form>
                @section Scripts{
                @{
                    <partial name="_ValidationScriptsPartial" />
                }
                }
            </div>
        </div>
    </div>
    <footer class="footer">
        <a asp-controller="User" asp-action="privacyPolicy" style="color: #333333;text-decoration:none;margin-left:16%">Privacy Policy</a>
    </footer>

    <script>
        $(document).ready(function () {
            $('#addLink').click(function () {
                //var index = $('input[name="URL"]').length;
                var input = '<input type="text" class="form-control" asp-for="URL" name="URL[]" />';
                      $(this).before(input);
                //$(input).appendTo('form');
            });
        });
    </script>

    <script>
        function onSave(){
              $("#Submit").prop("disabled", false);
        }
    </script>
    <script>

        const inputDiv = document.querySelector(".input-div")
         const input = document.querySelector("#imageupload")
         const output = document.querySelector("#preview")
         let imagesArray = []

         input.addEventListener("change", () => {

             const files = input.files
             for (let i = 0; i < files.length; i++) {
                 imagesArray.push(files[i])
             }
             displayImages()
         })

         inputDiv.addEventListener("drop", () => {
             e.preventDefault()
             const files = e.dataTransfer.files
             for (let i = 0; i < files.length; i++) {
                 if (!files[i].type.match("image")) continue;

                 if (imagesArray.every(image => image.name !== files[i].name))
                     imagesArray.push(files[i])
             }
             displayImages()
         })
          function displayImages() {

             let images = ""
             imagesArray.forEach((image, index) => {
                 images += `<div class="image storyimages">
                                             <img src="${URL.createObjectURL(image)}" alt="image">
                                             <span onclick="deleteImage(${index})">&times;</span>
                                           </div>`
             })
             output.innerHTML = images
         }

         function deleteImage(index) {
             imagesArray.splice(index, 1)
             displayImages()
         }

    </script>

    @*    <script>
        function validateImg(){
        if(document.getElementById("imageupload").value==""){
        Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: 'Please upload an Image!',
        });
        return false;
        }
        return true;
        }
        </script>
    *@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/js/index.js"></script>*@

</body>
</html>